/* Write CSS here */
.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-left: 80px;
  padding: 20px;
}

.heading {
  color: #333333;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-left: 70px;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.timerImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.timerImage {
  height: 37px;
  width: 40px;
  margin-right: 10px;
}

.timerName {
  color: #333333;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Roboto';
}

.timer {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
  margin: 0px;
  margin-bottom: 25px;
  align-self: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.startButton {
  background-color: #1db05f;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 8px;
  width: 80px;
  margin: 15px;
  cursor: pointer;
}

.stopButton {
  background-color: #ef0d36;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 8px;
  width: 80px;
  margin: 15px;
  cursor: pointer;
}

.resetButton {
  background-color: #eaa800;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 8px;
  width: 80px;
  margin: 15px;
  cursor: pointer;
}
